 {% when 'variant_description' %} 
                  <div class="variant-description" id="VariantDescription-{{ section.id }}">
                      {{ selected_variant.metafields.custom.description | metafield_tag }}
                  </div>